* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#container {
  /* border: 1px solid #222; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-width: 350px;
  width: 50%;
  max-width: 550px;
  padding: 10% 5%;
  background-color: #cfd8dd;
  border-radius: 10px;
}

#name {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 2em;
}

.title {
  /* border: 1px solid #262626; */
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 25%;
}

.eachSub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.eachSub input {
  border: none;
  outline: none;
  border-bottom: 1px solid #262626;
  background-color: #cfd8dd;
  width: 80px;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.btn button {
  width: 13rem;
  height: 30px;
  border-radius: 5px;
}

#calc-btn {
  background-color: #ff5353;
  border: none;
  color: #fff;
}

#calc-btn:active {
  background-color: #d14444;
}

#reset-btn {
  background-color: #438afe;
  border: none;
  color: #fff;
}

#reset-btn:active {
  background-color: #3165b9;
}

h2 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #cfd8dd;
  }

  #calc-btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
  }

  #reset-btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
  }

  select {
    width: 80px;
    height: 30px;
    background-color: #cfd8dd;
    border-radius: 8px;
  }
}
